@using NStore.Web.Models.Products

@model ProductListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Amount")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="AddToCart" asp-route-id="@item.Id">Add to cart</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (!string.IsNullOrEmpty(Model.Pagination.PreviousPageUrl))
{
    @Html.ActionLink("Previous", "Index", "Products", new { previousPageUrl = Model.Pagination.PreviousPageUrl, nextPageUrl = "", isCurrentPage = false })
}
@if (!string.IsNullOrEmpty(Model.Pagination.NextPageUrl))
{
    @Html.ActionLink("Next", "Index", "Products", new { nextPageUrl = Model.Pagination.NextPageUrl, previousPageUrl = "", isCurrentPage = false })
}
